<!-- Top menu item -->
<!--
<menuitem name="odoo_basico" id="odoo_basico.menu_root"/>
-->
<!-- menu categories -->
<!--
<menuitem name="Menu 1" id="odoo_basico.menu_1" parent="odoo_basico.menu_root"/>
<menuitem name="Menu 2" id="odoo_basico.menu_2" parent="odoo_basico.menu_root"/>
-->
<!-- actions -->
<!--
<menuitem name="List" id="odoo_basico.menu_1_list" parent="odoo_basico.menu_1"
          action="odoo_basico.action_window"/>
<menuitem name="Server to list" id="odoo_basico" parent="odoo_basico.menu_2"
          action="odoo_basico.action_server"/>
-->
<odoo>
    <menuitem id="main_odoo_basico" name="Menú Nivel 0"/>
    <menuitem id="exemplos_menu" name="Menú Nivel 1" parent="main_odoo_basico"/>
    <menuitem id="informacion_menu" name="Menú Nivel 2 Información" parent="exemplos_menu" action="informacion_list_action"/>
    <menuitem id="relacion_menu" name="Menú Nivel 2 Relación" parent="exemplos_menu" action="relacion_list_action"/>
    <menuitem id="factura_menu" name="Menú Nivel 2 Factura" parent="exemplos_menu" action="factura_list_action"/>
    <menuitem id="un_a_un_lineas_menu" name="Menú Nivel 2 Un a Un" parent="exemplos_menu" action="un_a_un_list_action"/>
    <menuitem id="mezcla_lineas_menu" name="Menú Nivel 2 Mezcla Lineas" parent="exemplos_menu" action="mezcla_lineas_list_action"/>
</odoo>